// ---- ---- color ---- ---- //
$color_light: #ffffff;
$color_t_accent: #a6a8ad;
$color_t_dark: #000000;
$color_t_light: #767676;
$color_accent: #0033ff;
$color_bgdark: #121214;
$color_bglight: #f8f8f8;

// ---- ---- main ---- ---- //

// ---- ---- title and text ---- ---- //

// ---- ---- menu ---- ---- //

// ---- ---- btn ---- ---- //

// ---- ---- footer - accordion ---- ---- //
